// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.status {
  > span {
    display: block;
  }
}

html {
  height: 100%;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 100;
  font-family: arial, sans-serif;
}

.container {
  text-align: center;
  margin: 20px auto;
  max-width: 1024px;
}

.content {
  text-align: center;
  display: inline-block;

  #url {
    text-align: center;
  }
}

.title {
  font-size: 96px;
  font-family: 'Lato', sans-serif;
}

.status {
  margin: 20px 0;
  border: 0;
  width: 330px;
  height: 200px;
}

.sitemaps {
  border-collapse: collapse;
  td, th {
    font-size: 0.9em;
    padding: 0.6em;
    border: 1px solid;
  }
}

.header {
  overflow: hidden;
  margin: 20px auto;
}

.right {
  float: right;
}

.pagination {
  margin: 20px 0;
  padding: 0;
  text-align: left;

  li {
    display: inline-block;
    + li {
      margin-left: 10px;
    }
  }
}